<div class="w-full mx-auto border-t mt-3">
<section class="w-2/3 items-center text-center mx-auto mt-2">
<p class="items-center text-center font-medium">Shortlists are available here!</p>
</section>
</div>