<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com</h1>
    <p>
      You have successfully signed up to Infocode Consults,
      your username is: <%= @employee.email %>.<br>
    </p>
    <p>
      You have successfully signed up to Infocode Consults,
      your password is: <%= @employee.password %>.<br>
    </p>
    <p>
      To login to the site, use the details above
    </p>
    <p>Thanks You are now part of the team!</p>
  </body>
</html>