<div class="border-t w-full border-gray-200 mt-3 bg-white bottom-0 sticky fixed items-center">
    <footer>
        <p class="mt-6 text-sm py-2 text-gray-500 items-center text-center">
            Copyright &copy; <%= Time.now.year %> Infocode Consults. All Rights Reserved.
        </p>
    </footer>
</div>